hxltm-eticaai
# Locking version at 4.25.1 for libhxl (used by hxltm-eticaai, which at the
# moment does not enforce any versions of dependencies)
libhxl==4.25.1
python-liquid
langcodes
pyyaml
openpyxl
frictionless
csvkit
# rdfpipe cli, used to format RDF/Turtle for nice git diffs
rdflib>=6.0.0
